/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    box-sizing: border-box;
}

*:focus {
    outline: 1px #ED533E80 solid;
}

body {
    background-image: radial-gradient( circle farthest-corner at 5.3% 17.2%,  rgba(255,208,253,1) 0%, rgba(255,237,216,1) 90% );
}

#container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px auto auto;
    height: 100vh;
}

h1 {
    color: #333333;
    font-weight: 400;
    font-size: 32pt;
    letter-spacing: 0.2px;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    color: #ED533E;
}

/* HEADER */

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    height:120px;
}

#logo {
    width: 300px;
}

h3 {
    color: #ED533E;
    font-weight: 400;
    margin-top: -40px;
    font-size: 10pt;
}

/* SIDEBAR */

aside {
    grid-column: 1 / 2;
    grid-row: 2/ 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.nav-link {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
}

.nav-link:hover {
    border-left: 3px #333 solid;
    background-color: #00000013;
    font-weight: bold;
    opacity: 1;
}

.nav-active {
    border-left: 3px #333 solid;
    background-color: #00000013;
    font-weight: bold;
    opacity: 1;
}

.nav-link a {
    padding-left: 10px;
    color: #333;
}

.icon-nav {
    height: 20px;
    font-size: 8pt;
    padding-left: 30px;
    
}


/* MAIN */

main {
    grid-column: 2/3;
    grid-row: 2/4;
    height: calc(100vh - 160px);
    margin-right: 40px;
    padding-top: 40px;
    padding-left: 30px;
}

#new-links {
    flex-direction: row-reverse;
    display: flex;
}

#new-links a {
    height: 20px;
    color: #ED533E;
    font-weight: 600;
    font-size: 12pt;
    text-decoration: none;
    padding-right: 10px;
}

.icon-20 {
    height: 20px;
}

#new-links img {
    cursor: pointer;
}

#new-project-link, #new-task-link {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 40px;
    cursor: pointer;
}

/* cards */
#content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.card {
    background-color: #ffffff;
    border: 1px #DFE0EB solid;
    border-radius: 10px;
}

#totalProjectsCard, #totalTasksCard, #totalOverdueCard {
    grid-row: 1/2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#totalOverdueCard > * {
    color: #ED533E;
}

#totalOverdueCard {
    border: 1px #ED533E90 solid;
}

.totalCardTitle {
    color: #9fa2b4;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}

.totalCardNumber {
    color: #333;
    font-size: 24pt;
    font-weight: bold;
}

#recentContainer {
    grid-row: 2/3;
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#recentProjectsCard, #recentTasksCard {
    width: 48.5%;
    min-width: 300px;
    padding: 20px;
    margin-bottom: 40px;
}

.recentCardTitle {
    font-size: 12pt;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.recentCardTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.recentCardTitleContainer a {
    font-size: 10pt;
    cursor: pointer;
}

.recentCardTitleContainer a:hover {
    text-decoration: underline;
}

.recentCardSubtitle {
    font-size: 10pt;
    color: #9FA2B4;
    margin-bottom: 20px;
}

.project-card-list, .task-list-div {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 11pt;
    padding-bottom: 20px;
    border-bottom: 1px #c8cbd8 solid;
}

.project-card-list-title, .task-list-div-title {
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.project-card-list-num {
    color: #9FA2B4;
}

.task-list-div-title-container {
    display: grid;
    grid-template-columns: 1rem auto auto;
    gap: 0.5em;
}

.task-list-div-title {
    padding-right: 0;
    margin-left: 10px;
}

.task-project-subtitle {
    color: #9FA2B4;
    font-size: 10pt;
    margin-left: 0;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: #8bc34a;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #DFE0EB;
    border-radius: 1em;
    transform: translateY(-0.15em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #8bc34a;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(1px, 0.15em) solid #8bc34a;
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

span.normal {
    width: 100px;
    min-width: 100px;
    height: 25px;
    background-color: #F0F1F7;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #9FA2B4;
    text-align: center;
    padding-top: 4px;
}

span.urgent {
    width: 100px;
    min-width: 100px;
    height: 25px;
    background-color: #ED533E;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 4px;
}

span.complete {
    background-color: #8bc34a;
    color: #fff;
    width: 100px;
    min-width: 100px;
    height: 25px;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}

/* MODAL */

.modal-hidden {
    opacity: 0;
    display: hidden;
    visibility: hidden;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.1s ease-in;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-close {
    color: #ED533E;
    cursor: pointer;
}

.modal-dialog {
    width: 450px;
    background-color: white;
    border: 1px #DFE0EB solid;
    border-radius: 10px;
    padding: 30px;
}

.modal-title {
    font-size: 12pt;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 40px;
}

#new-project-form, #new-task-form {
    display: grid;
    grid-template-columns: auto auto;
    
}

#new-project-form label, #new-task-form label {
    grid-column: 1/1;
    color: #333;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 0.5px;
}


#new-project-form input, 
#new-project-form textarea, 
#new-task-form input, 
#new-task-form textarea,
#new-task-form select {
    grid-column: 2/2;
    padding: 10px 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px #9FA2B470 solid;
}

#new-project-buttons, #new-task-buttons {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    grid-column: 1/3;
}

input[type=submit] {
    background-color: #fff;
    color: #8bc34a;
    border: 1px #8bc34a solid !important;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8bc34a;
    color: #fff;
}

input[type=reset] {
    background-color: #fff;
    color: #ED533E;
    border: 1px #ED533E solid !important;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #ED533E;
    color: #fff;
}

#submit-task-btn, #submit-project-btn, #cancel-task-btn, #cancel-project-btn {
    width: 80%;
    font-weight: bold;
    margin: 20px auto;
}


#save-project, #cancel-project, #save-task, #cancel-task {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

select {
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

.radios > label {
    margin-right: 20px;
    font-size: 10pt;
}

/* PROJECTS TAB */

.project-card {
    padding: 20px;
}

.project-card-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-card-title {
    font-weight: bold;
    font-size: 14pt;
    color: #26242E;
    padding-bottom: 10px;
}

.project-card-links {
    font-size: 10pt;
    display: flex;
    justify-content: flex-end;
 
}

.project-card-links > p {
    color: #ED533E;
    cursor: pointer;
}

.project-card-links > p:hover {
    text-decoration: underline;
}

.expand-project-link {
    padding-right: 5px;
    height: 12pt;
    border-right: 1px #C5C7CD solid;
}

.edit-project-link {
    padding-left: 5px;
}

.project-card-subtitle {
    grid-column: 1/3;
    display: flex;
    font-size: 10pt;
    padding-bottom: 10px;
}

.project-subtitle-bold {
    font-weight: bold;
    padding-right: 10px;
    color: #26242E;
}

.project-subtitle-light {
    color: #C5C7CD;
}

.project-card-task-row {
    border-bottom: 1px #C5C7CD solid;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.check-title-container {
    display: flex;
}

.project-card-task-row input {
    margin-right: 20px;
}

.project-card-task-title {
    font-weight: 500;
}

.project-card-task-row > .normal {
    width: 100px;
    min-width: 100px;
    height: 25px;
    background-color: #F0F1F7;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #9FA2B4;
    text-align: center;
    padding-top: 4px;
}

.project-card-task-row > .urgent {
    width: 100px;
    min-width: 100px;
    height: 25px;
    background-color: #ED533E;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 4px;
}

.project-card-task-row > .complete {
    background-color: #8bc34a;
    color: #fff;
    width: 100px;
    min-width: 100px;
    height: 25px;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}

/* TASKS TAB */
/* content grid:
2 rows: 3 grid lines
3 columns: |  |  |  |
*/

#tasks-tab-card {
    grid-row: 1/4;
    grid-column: 1/4;
    min-width: 800px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.table {
    width: 100%;
    font-size: 11pt;
}


.thead {
    text-align: left;
    text-transform: uppercase;
    font-size: 10pt;
    color: #333;
    font-weight: bold;

}

.tr {
    display: grid;
    grid-template-columns: 7% 20% 20% 20% min(20%, 110px) auto;
    padding: 20px;
    border-bottom: 1px #DFE0EB solid;
}

.col-1 {
    grid-column: 1/2;
}

.col-2 {
    grid-column: 2/3;
}

.col-3 {
    grid-column: 3/4;
}

.col-4 {
    grid-column: 4/5;
}

.col-5 {
    grid-column: 5/6;

    min-width: 110px;
}

.col-6 {
    grid-column: 6/7;
    min-width: 100px;

    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.td {
    color: #333333;
}

.todo-title {
    font-weight: bold;
}

div.tr.urgent > * {
    color: #ED533E;
}

div.tr.complete > * {
    color: #8bc34a;
}

div.todo-row:hover {
    background-color: #00000020;
}

.hidden {
    display: none;
}

.expand-container {
    grid-column: 2/6;
    padding: 20px 0px;
    font-size: 10pt;
}

.expand-row {
    display: flex;
    align-items: center;
    height: 35px;

}

.expand-title {
    display: inline-block;
    font-weight: bold;
    width: 150px;
    text-transform: uppercase;

}

.expand-content {
    display: inline-block;
    width: calc(100% - 150px);
}

.expand-content.normal {
    width: 100px;
    min-width: 100px;
    height: 25px;
    background-color: #F0F1F7;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #9FA2B4;
    text-align: center;
    padding-top: 4px;
}

.expand-content.urgent {
    width: 100px;
    min-width: 100px;
    height: 25px;
    background-color: #ED533E;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 4px;
}

.expand-content.complete {
    background-color: #8bc34a;
    color: #fff;
    width: 100px;
    min-width: 100px;
    height: 25px;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}

#edit-btn {
    font-size: 11pt;
    color: #3E81ED;
    cursor: pointer;
    border: none;
}

#edit-btn:hover, #delete-btn:hover {
    font-weight: bold;
}

#delete-btn {
    font-size: 11pt;
    color: #ED533E;
    cursor: pointer;
    border: none;
}
.ending-cell button {
    padding: 2px 8px;
    background: none;
    border-radius: 10px;
}

.priority-td {
    min-width: 100px;
}

.priority-td > .normal {
    width: 100px;
    min-width: 100px;
    height: 25px;
    background-color: #F0F1F7;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #9FA2B4;
    text-align: center;
    padding-top: 4px;
}

.priority-td > .urgent {
    width: 100px;
    min-width: 100px;
    height: 25px;
    background-color: #ED533E;
    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 4px;
}

.priority-td > .complete {
    background-color: #8bc34a;
    color: #fff;
    width: 100px;
    min-width: 100px;
    height: 25px;

    border-radius: 5px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;

    text-align: center;
    padding-top: 4px;
}


/* EDIT TASK PANEL */
#edit-task-panel {
    position: fixed;
    width: 500px;

    padding: 20px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    color: #252733;
}

#edit-task-panel-header {
    font-size: 16pt;
    margin: 10px 0px;
}

#edit-task-form {
    padding: 20px 0px;
}

#edit-task-form > .form-control {
    display: flex;
    padding: 5px 0px;
}

#edit-task-form > .form-control > label {
    width: 100px;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-right: 20px;
}

#edit-task-form > .form-control > input, 
#edit-task-form > .form-control > textarea,
#edit-task-form > .form-control > select {
    padding: 10px 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px #9FA2B470 solid;
    width: 100%;
}

#edit-task-form > .form-control > .radios {
    padding: 10px 5px;
    margin-bottom: 20px;
    width: 100%;
}


#edit-task-form > .form-control, #edit-task-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

#save-task-edit, #cancel-task-edit {
    width: 50%;
    display: flex;
    justify-content: center;
}

#save-task-edit-btn, #cancel-task-edit-btn {
    width: 80%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}




/* FOOTER */

footer {
    font-size: 10pt;
    grid-column: 1/3;
    grid-row: 4/4;
    text-align: center;
}